<div class="d-flex justify-content-center" *ngIf=" (cv$|async)">
  <div class="col-lg-8 push-lg-4">
    <div class="tab-content p-b-3">
      <div class="tab-pane active" id="profile">
        <h4 class="m-y-2">Cv {{  (cv$|async)?.firstname }} {{  (cv$|async)?.name }}</h4>
        <div class="d-flex justify-content-center">
          <img width="150px" height="150px" class="rounded-circle align-content-center"
               src="assets/images/{{(cv$ | async)?.path || 'cv.png'}}"
               alt="{{ (cv$ | async)?.name || 'brika' }}"
          />
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4 class="m-t-2">
              <span class="fa fa-clock-o ion-clock pull-xs-right"></span>
              Informations
            </h4>
            <table class="table table-hover table-striped">
              <tbody>
                <tr>
                  <td><strong>Name</strong> {{ (cv$|async)?.name }}</td>
                </tr>
                <tr>
                  <td><strong>Firstname</strong> {{ (cv$|async)?.firstname }}</td>
                </tr>
                <tr>
                  <td><strong>Job</strong> {{  (cv$|async)?.job }}</td>
                </tr>
                <tr>
                  <td><strong>Age</strong> {{  (cv$|async)?.age }}</td>
                </tr>
                <tr>
                  <td><strong>Cin</strong> {{  (cv$|async)?.cin }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              @if (authService.isAuthenticated()){
                <button *ngIf="cv$|async as cv" (click)="deleteCv(cv)"  class="btn btn-danger">
                  Delete
                </button>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
