<div class="row">

  <div class="col">
    name: <input [(ngModel)]="todo.name" type="text" class="form-control">
    content: <input [(ngModel)]="todo.content" type="text" class="form-control">
    <button (click)="addTodo()" [disabled]="!todo.name.trim() || !todo.content.trim()"
    class="btn btn-primary m-2">add</button>
  </div>

  <div class="boxes">
    <div class="box alert alert-info">
      <p>Waiting</p>
        <div class="col">
          <ol class="list-group">
            @for (todo of newTodos(); track todo) {
              <li class="list-group-item">
                {{todo.name}} : {{todo.content}}
                <i (click)="deleteTodo(todo,newTodos)" class="fa fa-trash" aria-hidden="true"></i>
                <i (click)="startTodo(todo)" class="fa fa-clock-o" aria-hidden="true"></i>
              </li>
            }
          </ol>
        </div>
    </div>
    <div class="box alert alert-warning">
      <p>In progress</p>
      <ol class="list-group">
        @for (todo of inProgressTodos(); track todo) {
          <li class="list-group-item">
            {{todo.name}} : {{todo.content}}
            <i (click)="deleteTodo(todo,inProgressTodos)" class="fa fa-trash" aria-hidden="true"></i>
            <i (click)="completeToDo(todo)" class="fa  fa-archive" aria-hidden="true"></i>
          </li>
        }
      </ol>
    </div>
    <div class="box alert alert-success">
      <p>Done</p>
      <ol class="list-group">
        @for (todo of completedTodos(); track todo) {
          <li class="list-group-item">
            {{todo.name}} : {{todo.content}}
            <i (click)="deleteTodo(todo,completedTodos)" class="fa fa-trash" aria-hidden="true"></i>
          </li>
        }
      </ol>
    </div>
  </div>
</div>
